
.footer-59i{
    background-color: #000000;
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; 

    
    margin-top: 300px;
    font-size: large;
}

.footer-59i ul{
    list-style: none;
}


.img-react{
    width: 300px;
}

